@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2F8hr60jort3w91.gif&f=1&nofb=1&ipt=d4229c181c695a531cfea64a9afa817b0d7369b22e1037e5a97c514bc7d4bd66');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Times New Roman', Times, serif; 
    height: 100vh;
}

main {
    background-color:rgb(240, 248, 255);
    position: relative;
    top: 30%;
    border-radius: 25px;
    min-width: 540px;
    max-width: 25%;
    margin: auto;
    padding: 2em;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    font-family: "Gravitas One", "Times New Roman", "Times", "serif";
}

#search {
    border-radius: 5px;
    border: solid;
    padding: 10px;
    margin-right: 5px;
    font-size: 16px;
    width: 60%;
    height: 42px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#search:focus {
    outline: none;
    border-color:rgb(82, 189, 255);
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

#submit {
    border-radius: 5px;
    border: aliceblue;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;

    background-color:rgb(82, 189, 255);
    color: black;
    transition: background-color 0.3s;
}

#submit:hover {
    background-color:rgb(26, 162, 246);
}

#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

#weather-search {
    display: flex;
    justify-content: center;
    width: 50%;
}

#weather-data {
    border-radius: 5px;
    padding: 1.5em;
    margin-top: 20px;

    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    text-align: left;
    align-items: left;
    gap: 12px;

    transition: transform 0.3s, box-shadow 0.3s;
}

#weather-data:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#weather-data > img {
    border-radius: 50%;
    background-color: lightskyblue;
}

#weather-data > div > p {
    padding: 3px;
}